body {
  font-size: .9rem;
}

label {
  font-weight: bold;
}

.table thead th {
  border-bottom-width: 1px;
}

.text-decoration-none,
.text-decoration-none:hover {
  text-decoration: none;
}

.btn-custom {
  font-weight: bold;
  border-width: 2px;
}

button[class*='primary'],
a[class*='primary'] {
  color: #fff !important;
}

button[class*='outline-primary'],
a[class*='outline-primary'] {
  color: $primary !important;

  &:hover,
  &:active {
    color: #fff !important;
  }
}

.margin-top-1-px {
  margin-top: 1px;
}

.nav-custom-link {
  display: inline-block;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.list-group-item.active {
  z-index: 2;
  color: #495057;
  background-color: #e9ecef;
  border-color: rgba(0, 0, 0, .125);
}
