$dark: #4D545D;
$blue: #69AED1;
$yellow: #FED766;
$red: #EA3546;
$green: hsl(141, 71%, 48%);

$navbar-padding-y: 0.25rem;

$btn-transition: none;

$border-radius: 2px;

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$sidebar-width: 210px;
